[user]
	name = Julien BORDELLIER
	email = git@julienbordellier.com
[ui "color"]
	ui = always
[color]
	ui = true
[diff "ansible-vault"]
	textconv = ansible-vault view
	cachetextconv = false
[merge "ansible-vault"]
	name = ansible-vault merge driver
	driver = ~/.local/bin/ansible-vault-merge -- %O %A %B %P
[merge]
	tool = nvim -d
[alias]
	c = commit
	s = status
	st = status
	lg = log --oneline
	last = log -1 HEAD
	#f = push --force-with-lease
	# https://stackoverflow.com/a/11688523/472927
	ss = "!f() { git stash show stash^{/$*} -p; }; f"
	sa = "!f() { git stash apply stash^{/$*}; }; f"
	sl = stash list
[diff]
	algorithm = patience
	compactionHeuristic = true
